

.chatListItem {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 15px 5px;
    padding: 0 10px;
    /* padding: 10px 0; */
    height: 80px;
}
.chatListItem:hover .chatListItem--lines{
    background-color: rgba(0, 0, 0, .8);
}

.chatListItem--avatar {
    width: 60px;
    border-radius: 50%;
    /* margin-left: 15px; */
    transition: .5s ease-in;
}

.chatListItem--lines {
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, .4);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    /* border-bottom: 1px solid #EEE; */
    /* padding-right: 15px; */
    margin-left:15px;
    padding: 0 10px;
    border-radius: 5px;
    transition: .2s ease-in;
    background-color: rgba(0, 0, 0, .5);
    /* transition-duration: .4s; */
}
.chatListItem--line {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;

}
.chatListItem--name {
    font-size: 17px;
    color: #F1F1F1;
}
.chatListItem--date {
    font-size: 12px;
    color: #999;
}
.chatListItem--lastMsg {
    font-size: 14px;
    color:#999;
    display: flex;
    width: 100%;

}

.chatListItem--lastMsg p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.chatListItem.active .chatListItem--avatar{
    /* border: 2px solid green; */
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 2px rgba(0, 0, 0, .2); */
    border: 3px solid white;
    box-shadow: -1px 2px 10px 2px lightblue;
    width: 80px;
    
}

.chatListItem.active .chatListItem--lines{
    border-bottom: 2px solid lightblue;
    outline: none;
    box-shadow: 0 2px 6px 1px lightblue;
    background-color: rgba(0, 0, 0, .8);
    
}