.chatWindow {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: block; */
}



.chatWindow--header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    /* filter: blur(1.5rem) */
    /* opacity: .5; */

    
}
/* .chatWindow--header:before{
    content: '';
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: blur(2.5rem);
} */

.chatWindow--info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.chatWindow--info > * {
    margin-left: 10px;
}

.chatWindow--info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatWindow--name {
    font-size: 1.2rem;
    color: #F1F1F1;

}




.chatWindow--headerbuttons {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    align-items: center;
}

.chatWindow--footer--pre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px; */
}

.chatWindow--btn {
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50%;
    padding: 0 10px;
    /* background-color: darkgray; */
    /* margin-right: 15px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: .4s ease-in;
}


.chatWindow--chatmsgsarea {
    /* display: block; */
    position: absolute;
    width: 100%;
    height: 100%;
}

.chatWindow--body {
    position: relative;
    display: flex;
    align-items: flex-end;
    /* flex-direction: column; */
    /* /* width: 100%; */
    width: 100%;
    height: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: pink; */
}
.chatWindow--emojiarea {
    /* bottom: 0px; */
    /* width: 100%;*/
    height: 100%;
    display: flex;

    justify-content: flex-start; 
    /* self-align: flex-end; */
    align-items: end;
    position: relative;
    overflow-y: hidden;
    bottom: 10px;
    margin-left: 40px;
    z-index: 10;
    transition: opacity .2s ease-in;

}



aside.EmojiPickerReact.epr-main {
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
}


/* .epr-search-container > input {
    background-color: black;
} */


/* .EmojiPickerReact:before {
    content: '';
    width: 100%;
    background-color: black;
} */




.chatWindow--footer {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatWindow--footer--pre {
    display: flex;
    justify-content: flex-start;
    /* marign: 0 15px; */
}
.chatWindow--footer--inputarea {
    flex: 1;
}
.chatWindow--input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 15px;
    
}
.chatWindow--footer--pos {
    display: flex;
    marign: 0 15px;
}


