.chatWindow {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: block; */
}



.chatWindow--header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    /* filter: blur(1.5rem) */
    /* opacity: .5; */

    
}
/* .chatWindow--header:before{
    content: '';
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: blur(2.5rem);
} */

.chatWindow--info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.chatWindow--info > * {
    margin-left: 10px;
}

.chatWindow--info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatWindow--name {
    font-size: 1.2rem;
    color: #F1F1F1;

}




.chatWindow--headerbuttons {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    align-items: center;
}

.chatWindow--btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    /* background-color: darkgray; */
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatWindow--body {
    position: relative;
    /* /* width: 100%; */
    width: 100%;
    height: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: pink; */
}

.chatWindow--chatmsgsarea {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chatWindow--emojiarea {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
}
.EmojiPickerReact:before {
    content: '';
    width: 100%;
    background-color: black;
}




.chatWindow--footer {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatWindow--footer--pre {
    display: flex;
    marign: 0 15px;
}
.chatWindow--footer--inputarea {
    flex: 1;
}
.chatWindow--input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 15px;
    
}
.chatWindow--footer--pos {
    display: flex;
    marign: 0 15px;
}

