.chatWindow {
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.chatWindowHeader {
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.chatWindowUserInfo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.chatWindowUserInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.chatWindowBody {
    flex: 1;
    background: url('../assets/nature02.gif');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.chatWindowUserInfo {
    display: flex;
    justify-content: space-between;
}