* {
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Newe, Helvetica, Lucida Grande, Arial;
}

.app-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: #EDEDED; */
  background: url('./assets/nature01.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sidebar {
  width: 25%;
  height: 100vh;
  max-width: 415px;
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, .8);
  background-color: rgba(0, 0, 0, .7);
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, .7);
  /* background-color: lightgray; */

}
.header--avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: ponter;
}
.header--buttons {
  display: flex;
  justify-content: spance-between;
}
.header--btn {
  width: 40px;
  height: 40px;
  margin: 0 2px;
  padding: 5px;  
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in .3s;
  /* background-color: darkgray; */
}
.header--btn:hover {
  box-shadow: 0px 0px 7px 2px lightblue;
}
.search {
  background-color: rgba(0, 0, 0, .7);
  /* border-bottom: 2px solid rgba(255, 255, 255, .3); */
  /* border-radius: 10px; */
  padding: 15px 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.search--input {
  background-color: #F1F1F1;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  opacity: .8;
}

.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist {
  flex: 1;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, .6);
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}

.contentarea {
  /* background-color: blue; */
flex: 1;
}