* {
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Newe, Helvetica, Lucida Grande, Arial;
}

.app-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: #EDEDED; */
  background: url('./assets/cityview.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100% ;
}

.sidebar {
  width: 25%;
  position: relative;
  height: 100vh;
  max-width: 415px;
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, .8);
  background-color: rgba(0, 0, 0, .3);
}


.search {
  background-color: rgba(0, 0, 0, .7);
  /* border-bottom: 2px solid rgba(255, 255, 255, .3); */
  /* border-radius: 10px; */
  padding: 15px 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.search--input {
  background-color: #F1F1F1;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  opacity: .8;
}

.search--input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}



.contentarea {
  /* background-color: blue; */
flex: 1;
}