* {
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  margin: 0;
  font-family: 'Segoe UI', Helvetica Newe, Helvetica, Lucida Grande, Arial;
}

.app-window {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: #EDEDED; */
  background: url('./assets/nature01.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100% ;
}

.sidebar {
  width: 25%;
  position: relative;
  height: 100vh;
  max-width: 415px;
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, .8);
  background-color: rgba(0, 0, 0, .3);
}






